.footer__column-link {
    list-style-type: none;
    text-decoration: none;
}

.footer__column-link:hover {
    color: rgb(241, 145, 145);
    opacity: 0.5;
    transition: 0.5s linear;
}

.footer__column-link:link {
    color: #fff;
}

.footer__column-link:visited {
    color: #fff;
}