.footer__content-social:link {
    color: #fff;
}

.footer__content-social:visited {
    color: #fff;
}

.footer__column-link:link {
    color: #fff;
}

.footer__column-link:visited {
    color: #fff;
}